body {
  margin-top: 44px;
  font-family: Lato, sans-serif;
  color: #262626; }
  body .footnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fff;
    position: fixed;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    height: 44px;
    bottom: 0;
    border-top: 1px solid #ddd; }
    body .footnav .home {
      background: url("../images/home.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px; }
    body .footnav .heart {
      background: url("../images/like.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px; }
    body .footnav .add {
      background: url("../images/add.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px; }
    body .footnav .profile {
      background: url("../images/profile.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px; }
    body .footnav .search {
      background: url("../images/search.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px; }
  body .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fff;
    position: fixed;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    height: 44px;
    top: 0;
    border-bottom: 1px solid #ddd; }
    body .nav .logo {
      background: url("../images/instagram-logo.png") no-repeat center;
      background-size: contain;
      width: 120px;
      height: 35px; }
    body .nav .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 70px; }
    body .nav .left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 160px; }
    body .nav .camera {
      background: url("../images/photo-camera.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px; }
    body .nav .send {
      background: url("../images/send.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px; }
    body .nav .tv {
      background: url("../images/television.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px; }
  body .stories {
    height: 125px;
    width: auto;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid #ddd; }
    body .stories .top {
      margin: 0 16px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row; }
    body .stories .days {
      animation-name: story;
      animation-duration: 1s;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      padding-left: 8px;
      overflow-x: scroll; }
      body .stories .days::-webkit-scrollbar {
        visibility: hidden; }
      body .stories .days .pres {
        position: relative;
        padding: 0 8px; }
        body .stories .days .pres:first-of-type .wrap {
          background: none; }
        body .stories .days .pres:first-of-type::after {
          content: " ";
          background-image: url("../images/plus.png");
          background-size: contain;
          width: 16px;
          height: 16px;
          position: absolute;
          bottom: 20px;
          right: 15px;
          z-index: 10; }
        body .stories .days .pres span {
          margin-top: 3px;
          color: #262626;
          display: block;
          font-size: 12px;
          line-height: 14px;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%; }
        body .stories .days .pres .wrap {
          display: block;
          margin: auto;
          background: -webkit-linear-gradient(right top, #DB0092, #FF9F45);
          width: 65px;
          height: 65px;
          position: relative;
          border-radius: 50%; }
          body .stories .days .pres .wrap img {
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            display: block;
            box-sizing: border-box;
            border: 3px solid #fff; }
  body .main {
    animation-name: main;
    animation-duration: 1s;
    margin-bottom: 44px; }
    body .main .section {
      margin-bottom: 15px;
      overflow-x: scroll; }
      body .main .section .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 16px; }
        body .main .section .top span {
          margin-left: 12px;
          font-size: 16px;
          line-height: 18px;
          font-weight: 600; }
        body .main .section .top div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row; }
        body .main .section .top .pres .wrap {
          display: block;
          margin: auto;
          background: -webkit-linear-gradient(right top, #DB0092, #FF9F45);
          width: 40px;
          height: 40px;
          position: relative;
          border-radius: 50%; }
          body .main .section .top .pres .wrap img {
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            display: block;
            border: 2.5px solid #fff; }
      body .main .section .post {
        height: auto;
        overflow-x: scroll; }
        body .main .section .post::-webkit-scrollbar {
          visibility: hidden; }
        body .main .section .post .scroller {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          width: 300vw;
          height: 100%;
          overflow-x: auto; }
          body .main .section .post .scroller .img {
            width: 100vw;
            height: auto;
            position: relative; }
            body .main .section .post .scroller .img:nth-child(1)::after {
              content: "1/3";
              background-color: rgba(0, 0, 0, 0.514);
              position: absolute;
              top: 15px;
              right: 15px;
              color: #fff;
              padding: 8px;
              border-radius: 8px; }
            body .main .section .post .scroller .img:nth-child(2)::after {
              content: "2/3";
              background-color: rgba(0, 0, 0, 0.514);
              position: absolute;
              top: 15px;
              right: 15px;
              color: #fff;
              padding: 8px;
              border-radius: 8px; }
            body .main .section .post .scroller .img:nth-child(3)::after {
              content: "3/3";
              background-color: rgba(0, 0, 0, 0.514);
              position: absolute;
              top: 15px;
              right: 15px;
              color: #fff;
              padding: 8px;
              border-radius: 8px; }
      body .main .section .bottom {
        padding: 0 16px; }
        body .main .section .bottom .response {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          height: 40px;
          margin-top: 4px; }
          body .main .section .bottom .response .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            width: 100px;
            height: 100%; }
        body .main .section .bottom .end {
          color: #888;
          font-size: 11px; }
        body .main .section .bottom .likes {
          font-weight: bold;
          color: #262626;
          font-size: 14px; }
        body .main .section .bottom p {
          margin: 10px 0; }
          body .main .section .bottom p span.name {
            font-size: 16px;
            line-height: 18px;
            font-weight: 600; }
        body .main .section .bottom p:not(:first-of-type)::after {
          content: " ";
          background: url("../images/like.png") no-repeat center;
          background-size: contain;
          width: 12px;
          height: 12px;
          position: absolute;
          right: 20px; }
        body .main .section .bottom .comments {
          color: #888; }
        body .main .section .bottom .addComment {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row; }
          body .main .section .bottom .addComment img {
            display: block;
            border-radius: 50%;
            box-sizing: border-box;
            border: 3px solid #fff; }
          body .main .section .bottom .addComment input {
            position: relative;
            border: none;
            outline: none;
            margin-left: 3px;
            width: 100%;
            padding-left: 3px;
            padding-right: 45px;
            padding-bottom: 3px; }
            body .main .section .bottom .addComment input:focus {
              border-bottom: 0.5px solid #bbb; }
          body .main .section .bottom .addComment::after {
            content: "Post";
            color: aqua;
            opacity: 0.5;
            width: 15px;
            position: absolute;
            right: 40px; }

/****************************************************/
body .cont {
  background: url("../vid/vid.MOV");
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50px; }
body .gradOverlay {
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
  background: -webkit-gradient(left top, left bottom, color-stop(54%, rgba(255, 255, 255, 0)), color-stop(55%, rgba(255, 255, 255, 0.01)), color-stop(100%, rgba(66, 66, 66, 0.55))) !important;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#424242', GradientType=0) !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; }
body .menu {
  position: fixed;
  bottom: 0; }
  body .menu .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
    body .menu .top .search {
      background: url("../images/search.png") no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px; }
    body .menu .top input {
      background-color: transparent;
      border: none;
      outline-color: none; }

@keyframes main {
  0% {
    margin-top: 1000px; } }
@keyframes story {
  0% {
    margin-left: 500px; } }

/*# sourceMappingURL=style.css.map */
