$fontbase: Lato,
sans-serif;
$baseColor:#262626;
@mixin flex($var:space-between, $dir:row) {
    display: flex;
    align-items: center;
    justify-content: $var;
    flex-direction: $dir;
}

@mixin after($var) {
    content: "#{$var}/3";
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
}

@mixin backgroundIcon($var) {
    background: url("../images/#{$var}.png") no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
}

@mixin fixed($pos) {
    background-color: #fff;
    position: fixed;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    height: 44px;
    #{$pos}: 0;
    @if $pos=='top' {
        border-bottom: 1px solid #ddd;
    }
    @else {
        border-top: 1px solid #ddd;
    }
}

body {
    margin-top: 44px;
    font-family: $fontbase;
    color: $baseColor;
    .footnav {
        @include flex();
        @include fixed(bottom);
        .home {
            @include backgroundIcon(home);
        }
        .heart {
            @include backgroundIcon(like);
        }
        .add {
            @include backgroundIcon(add);
        }
        .profile {
            @include backgroundIcon(profile);
        }
        .search {
            @include backgroundIcon(search);
        }
    }
    .nav {
        @include flex();
        @include fixed(top);
        .logo {
            background: url("../images/instagram-logo.png") no-repeat center;
            background-size: contain;
            width: 120px;
            height: 35px;
        }
        .right {
            @include flex();
            width: 70px;
        }
        .left {
            @include flex();
            width: 160px;
        }
        .camera {
            @include backgroundIcon(photo-camera);
        }
        .send {
            @include backgroundIcon(send);
        }
        .tv {
            @include backgroundIcon(television);
        }
    }
    .stories {
        height: 125px;
        width: auto;
        box-sizing: border-box;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        .top {
            margin: 0 16px;
            margin-bottom: 10px;
            @include flex(space-between);
        }
        .days {
            animation-name: story;
            animation-duration: 1s;
            @include flex(flex-start);
            padding-left: 8px;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                visibility: hidden;
            }
            .pres {
                position: relative;
                padding: 0 8px;
                &:first-of-type .wrap {
                    background: none;
                }
                &:first-of-type::after {
                    content: " ";
                    background-image: url("../images/plus.png");
                    background-size: contain;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    bottom: 20px;
                    right: 15px;
                    z-index: 10;
                }
                span {
                    margin-top: 3px;
                    color: $baseColor;
                    display: block;
                    font-size: 12px;
                    line-height: 14px;
                    overflow: hidden;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }
                .wrap {
                    display: block;
                    margin: auto;
                    background: -webkit-linear-gradient(right top, #DB0092, #FF9F45);
                    width: 65px;
                    height: 65px;
                    position: relative;
                    border-radius: 50%;
                    img {
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        border-radius: 50%;
                        display: block;
                        box-sizing: border-box;
                        border: 3px solid #fff;
                    }
                }
            }
        }
    }
    .main {
        animation-name: main;
        animation-duration: 1s;
        margin-bottom: 44px;
        .section {
            margin-bottom: 15px;
            overflow-x: scroll;
            .top {
                @include flex(space-between);
                padding: 10px 16px;
                span {
                    margin-left: 12px;
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 600;
                }
                div {
                    @include flex(flex-start);
                }
                .pres {
                    .wrap {
                        display: block;
                        margin: auto;
                        background: -webkit-linear-gradient(right top, #DB0092, #FF9F45);
                        width: 40px;
                        height: 40px;
                        position: relative;
                        border-radius: 50%;
                        img {
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            border-radius: 50%;
                            display: block;
                            border: 2.5px solid #fff;
                        }
                    }
                }
            }
            .post {
                height: auto;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    visibility: hidden;
                }
                .scroller {
                    @include flex(flex-start);
                    width: 300vw;
                    height: 100%;
                    overflow-x: auto;
                    .img {
                        width: 100vw;
                        height: auto;
                        position: relative;
                        &:nth-child(1)::after {
                            @include after(1);
                        }
                        &:nth-child(2)::after {
                            @include after(2);
                        }
                        &:nth-child(3)::after {
                            @include after(3);
                        }
                    }
                }
            }
            .bottom {
                padding: 0 16px;
                .response {
                    @include flex(space-between);
                    height: 40px;
                    margin-top: 4px;
                    .left {
                        @include flex(space-between);
                        width: 100px;
                        height: 100%;
                    }
                }
                .end {
                    color: #888;
                    font-size: 11px;
                }
                .likes {
                    font-weight: bold;
                    color: $baseColor;
                    font-size: 14px;
                }
                p {
                    margin: 10px 0;
                    span.name {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: 600;
                    }
                }
                p:not(:first-of-type) {
                    &::after {
                        content: " ";
                        background: url("../images/like.png") no-repeat center;
                        background-size: contain;
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        right: 20px;
                    }
                }
                .comments {
                    color: #888;
                }
                .addComment {
                    @include flex(flex-start);
                    img {
                        display: block;
                        border-radius: 50%;
                        box-sizing: border-box;
                        border: 3px solid #fff;
                    }
                    input {
                        position: relative;
                        border: none;
                        outline: none;
                        margin-left: 3px;
                        width: 100%;
                        padding-left: 3px;
                        padding-right: 45px;
                        padding-bottom: 3px;
                        &:focus {
                            border-bottom: 0.5px solid #bbb;
                        }
                    }
                    &::after {
                        content: "Post";
                        color: aqua;
                        opacity: 0.5;
                        width: 15px;
                        position: absolute;
                        right: 40px;
                    }
                }
            }
        }
    }
}

/****************************************************/

body {
    .cont {
        background: url("../vid/vid.MOV");
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: -50px;
    }
    .gradOverlay {
        background: rgba(255, 255, 255, 0);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
        background: -webkit-gradient(left top, left bottom, color-stop(54%, rgba(255, 255, 255, 0)), color-stop(55%, rgba(255, 255, 255, 0.01)), color-stop(100%, rgba(66, 66, 66, 0.55))) !important;
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0.01) 55%, rgba(66, 66, 66, 0.55) 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#424242', GradientType=0) !important;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .menu {
        position: fixed;
        bottom: 0;
        .top {
            @include flex();
            .search {
                @include backgroundIcon(search);
            }
            input{
                background-color: transparent;
                border:none;
                outline-color: none;
            }
        }
    }
}

@keyframes main {
    0% {
        margin-top: 1000px;
    }
}

@keyframes story {
    0% {
        margin-left: 500px;
    }
}