$fontbase: Lato,
sans-serif;
@mixin flex($var, $dir:row) {
    display: flex;
    align-items: center;
    justify-content: $var;
    flex-direction: $dir;
}

body {
    margin-top: 44px;
    font-family: $fontbase;
    .nav {
        @include flex(space-between);
        background-color: #fff;
        position: fixed;
        top: 0;
        padding: 0 16px;
        width: 100%;
        height: 44px;
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;
        z-index: 100;
        .camera {
            background: url("../images/photo-camera.png") no-repeat center;
            background-size: contain;
            width: 24px;
            height: 24px;
        }
        .logo {
            background: url("../images/instagram-logo.png") no-repeat center;
            background-size: contain;
            height: 100%;
            width: 120px;
        }
        .addFriend {
            background: url("../images/add-user.png") no-repeat center;
            background-size: contain;
            width: 24px;
            height: 24px;
        }
    }
    .stories {
        height: 125px;
        width: auto;
        box-sizing: border-box;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        .top {
            margin: 0 16px;
            margin-bottom: 10px;
            @include flex(space-between);
        }
        .days {
            @include flex(flex-start);            
            padding-left: 8px;
            overflow-x: scroll;
            
            &::-webkit-scrollbar {
                visibility: hidden;
            }
            .pres {
                position: relative;
                padding: 0 8px;
                &:first-of-type .wrap {
                    background: none;
                }
                &:first-of-type::after {
                    content: " ";
                    background-image: url("../images/plus.png");
                    background-size: contain;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    bottom: 20px;
                    right: 15px;
                    z-index: 10;
                }
                span {
                    margin-top: 3px;
                    color: #262626;
                    display: block;
                    font-size: 12px;
                    line-height: 14px;
                    overflow: hidden;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }
                .wrap {
                    display: block;
                    margin: auto;
                    background: -webkit-linear-gradient(right top, #DB0092, #FF9F45);
                    width: 65px;
                    height: 65px;
                    position: relative;
                    border-radius: 50%;
                    img {
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        border-radius: 50%;
                        display: block;
                        box-sizing: border-box;
                        border: 3px solid #fff;
                    }
                }
            }
        }
    }
    .main {
        height: 1000px;
        .section {
            margin-bottom: 15px;
            .top {
                @include flex(space-between);
                padding: 10px 16px;
                span {
                    margin-left: 12px;
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 600;
                }
                div {
                    @include flex(flex-start);
                }
                .pres {
                    .wrap {
                        display: block;
                        margin: auto;
                        background: -webkit-linear-gradient(right top, #DB0092, #FF9F45);
                        width: 40px;
                        height: 40px;
                        position: relative;
                        border-radius: 50%;
                        img {
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            border-radius: 50%;
                            display: block;
                            border: 2.5px solid #fff;
                        }
                    }
                }
            }
        }
    }
}